html {
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    font-family: 'Nanum Gothic', sans-serif;
}
a {
    text-decoration: none;
    color: #334488;
}
.content {
    margin : 0px;
    margin-left: 200px;
}
.sidebar {
    height: 100%;
    width: 200px;
    background: #385;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.profile-img {
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #5b8da2;
    max-width: 5rem;
}

.sidebar>.social>ul {
    list-style-type: none;
}

.category-item-count {
    font-size: 0.5em;
}
