<div class="col-md-3 sidebar">
    <div class="list-group category">
        <div class="list-group-item list-group-item-primary"> Category </div>
        {% for category, articles in categories %}
        <a class="list-group-item list-group-item-action category-item" href="{{ SITEURL }}/{{ category.url }}">
            {{ category.name }}
            <span class="category-item-count">({{ articles|length }})</span>
        </a> 
        {% endfor %}
    </div>
    <div class="list-group social">
        <div class="list-group-item list-group-item-primary"> Social </div>
        {% for name, link in SOCIAL %}
        {% if name == 'email' %}
        <a class="list-group-item list-group-item-action" href="mailto:{{ link }}"> {{ name }} </a>
        {% else %}
        <a class="list-group-item list-group-item-action" href="{{ link }}"> {{ name }} </a>
        {% endif %}
        {% endfor %}
        <a class="list-group-item list-group-item-action" href="{{ FEED_ALL_RSS }}"> FEED </a>
    </div>
</div>
